.app {
  text-align: center;
  padding: 64px;
}

.todo-list {
  max-width: 400px;
  margin: 0 auto;
}

.todo {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  padding: 16px;
  margin: 8px 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.todo button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.todo button:focus {
  outline: none;
}

.input {
  padding: 8px;
  width: calc(100% - 16px);
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}